:root {
  --background-color: #f9f9f9;
  --background-image: url("./data/background.jpg");
  --text-color: #333;
  --header-bg-color: #fcfcfc;
  --header-text-color: #555;
  --cell-bg-color: #fbf9f4;
  --cell-border-color: #ddd;
  --cell-shadow: rgba(0, 0, 0, 0.1);
  --holiday-color: #fc4949;
  --holiday-bg-color: #f6f6f6;
  --today-border-color: #4caf50;
  --font-size-big: min(3vh, 4rem);
  --font-size: min(1.8vh, 1.3rem);
  --font-size-small: min(1.6vh, 0.8rem);
  --font-size-header: min(4vh, 2.5rem);
  --font-size-phone: min(1.5vh, 0.75rem);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  background-image: var(--background-image);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

th {
  font-weight: normal;
  text-align: left;
  padding-left: 10px;
}

#container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#calendarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1vh 2vw;
  align-items: center;
}

.goToDateInput {
  width: 95px;
  margin-left: 2px;
}

#goToYearInput {
  width: 60px;
  margin-left: 2px;
}

#goToMonthInput {
  width: 35px;
  margin-left: 2px;
}

#goToDayInput {
  width: 35px;
  margin-left: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

#calendarBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-top: 6px;
}

.calendarButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4px 0;
}

.monthName {
  font-weight: 900;
  font-size: var(--font-size-header);
  text-align: center;
}

.year {
  font-weight: 900;
  font-size: min(5vh, 4rem);
  text-align: center;
  width: 100px;
}

.calendar {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto repeat(6, 1fr);
  gap: 0.45vh;
  background: var(--cell-bg-color);
  border-radius: 10px;
  /* box-shadow: 0 4px 6px var(--cell-shadow); */
  box-shadow:  0px 0px 15px 10px rgba(0,0,0,0.75);
  padding: 0.5vh;
  opacity: 0.9;
}

.calendar-day {
  border: 1px solid var(--cell-border-color);
  border-radius: 5px;
  padding: 2px;
  background-color: var(--cell-bg-color);
  text-align: center;
  box-shadow: 0 2px 4px var(--cell-shadow);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dayNumber {
  font-size: min(5vh, 4rem);
  font-weight: 900;
  margin: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.gregDate {
  font-size: var(--font-size);
  font-weight: bold;
  margin-top: 5px;
}

.weekday-header {
  font-weight: bold;
  color: var(--header-text-color);
  text-transform: uppercase;
  background-color: var(--header-bg-color);
  padding: 2px;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
}

.holiday {
  color: var(--holiday-color);
  font-weight: bolder;
}

.saturday {
  background-color: var(--holiday-bg-color);
}

.holidayName {
  font-size: var(--font-size-small);
  margin-top: 2px;
  /* turn on when popup will work correct */
  /* cursor: pointer;  */
}

.today {
  border: 3.5px solid var(--today-border-color);
  font-weight: bold;
}

.notCurrentMonth {
  opacity: 0.5;
}

.searchBar {
  display: flex;
  height: 40px;
  margin-top: 10px;
}

#translateContainer {
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}

.translateDate {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.translateDate > .result {
  min-width: 90px;
  min-height: 32px;
  padding-top: 4px;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.afterPopUp {
  opacity: 0.2;
}

.menuBtn {
  position: absolute;
  top: 1vh;
  right: 2vw;
  font-size: 3rem;
  cursor: pointer;
}

.languageChoice {
  text-align: center;
  margin-top: 5px;
}

.popup {
  display: none;
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 15px;
}

.closeButton {
  font-size: 1.7rem;
  text-align: end;
  position: absolute;
  top: 10px;
  right: 25px;
}

.closeButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.popupArticle {
  margin: 6vh 3vw 1vh;
  line-height: 1.3;
}

#previousMonth {
  position: absolute;
  rotate: 180deg;
  left: 5vw;
  top: 40vh;
}

#nextMonth {
  position: absolute;
  right: 5vw;
  top: 40vh;
}

.manipulateMonthBtn {
  border: none;
  background-color: transparent;
  font-size: 5rem;
  font-weight: 900;
  color: #4c4c4c;
  /* color: #fcf9f1; */
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 2vw;
  right: 11vh;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 3px;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.menuItem {
  font-size: var(--font-size) * 2;
  cursor: pointer;
  margin: 4px;
  padding: 2px;
  border: 1px solid var(--cell-border-color);
  border-radius: 5px;
}

.menuItem:hover {
  background-color: #e2e2e2;
}

.holidayTitle {
  font-size: var(--font-size-big);
  text-align: center;
}

.articleSource {
  text-align: end;
  font-style: italic;
  font-size: var(--font-size-small);
  margin: initial;
}

.scrollable {
  max-height: 64vh;
  overflow: auto;
  margin-bottom: 10px;
  font-size: var(--font-size);
  /* font-size: 1.5rem; */
}

.goToForm {
  display: flex;
  flex-direction: column;
}

#goToDateBtn {
  margin-bottom: 2px;
}

@media (orientation: portrait) {
  #calendarBlock {
    width: 99vw;
    margin-top: 25px;
  }

  .languageBtn {
    font-size: 1.5rem;
  }

  .year {
    font-size: 3.5rem;
  }

  .monthName {
    font-size: 3.5rem;
  }
  
  #goToDateBtn {
    font-size: 1.5rem;
  }
  
  .goToDateInput {
    font-size: 1.5rem;
  }

  .manipulateMonthBtn {
    font-size: 340px;
  }

  #previousMonth {
    top: initial;
    bottom: 15vh;
  }
  
  #nextMonth {
    top: initial;
    bottom: 15vh;
  }

  .dropdown-menu {
    right: 7vw;
  }

  .menuItem {
    font-size: 2.5rem;
  }

  .header {
    width: 95vw;
  }

  .menuBtn {
    right: 0.75vw;
  }
}